/*  Profil oldal kont茅ner */
.profile-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/*  Oldals贸 men眉 */
.sidebar {
    width: 250px;
    background-color: #1D1D1D;
    padding: 20px;
    border-radius: 10px;
}

/*  Oldals贸 men眉 lista */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/*  Oldals贸 men眉 elemek */
.sidebar ul li {
    margin: 10px 0;
}

/*  Oldals贸 men眉 linkek */
.sidebar ul li a {
    color: #ff219e;
    text-decoration: none;
    font-weight: bold;
}

/*  Oldals贸 men眉 linkek hover effekt */
.sidebar ul li a:hover {
    color: #32eaff;
}

/*  Profil oldal f tartalma */
.profile-content {
    flex-grow: 1;
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
